.DS_Store
node_modules
/ui/build
/build
.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
/dist/
/target/
/.cargo/
*.happ
*.webhapp
*.zip
*.dna
.hc*
.hc
.running
*.code-workspace